[Desktop Entry]
Name=Install Calcium OS
Comment=Install this live system to your hard drive
Exec=pkexec calamares
Icon=drive-harddisk
Terminal=false
Categories=System;Settings;X-GNOME-Settings-Panel;
Type=Application
